.accordion {
  display: block;
}

.accordion-header {
  cursor: pointer;
}

.accordion-content{
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
}

.accordion-content[aria-hidden="true"]{
  max-height: 0;
  transition: max-height 0.75s cubic-bezier(.215, .61, .355, 1);
}

.accordion-content[aria-hidden="false"]{
  max-height: var(--content-height, 5000px);
  transition: max-height 0.75s cubic-bezier(.215, .61, .355, 1);
}

.accordion-header[aria-expanded="true"] .accordion-icon--caret-down {
  @apply rotate-180;
}

.accordion-header[aria-expanded="true"] .accordion-icon--plus,
.accordion-header[aria-expanded="false"] .accordion-icon--minus {
  @apply hidden;
}

.accordion-header[aria-expanded="false"] .accordion-icon--plus,
.accordion-header[aria-expanded="true"] .accordion-icon--minus {
  @apply block;
}
