.compare__title {
    @apply py-md
    border-b
    h-[100px]
    border-gray
}

.compare-product__title {
    @apply sticky 
    bg-white 
    mb-sm
    z-[3]
    rte;
    height: var(--compare-product-height);
    top: var(--header-height)
}

.compare__image-container {
    @apply p-xxs 
}

.compare__image-container {
    @apply aspect-square
    w-full
    h-[270px]
}

.compare__image-container img {
    @apply h-full
    mx-auto
}

.compare-product__title-text {
    @apply text-[16px]
    !no-underline
    font-700
    tabletl:text-[22px]
}

.compare__title p.s1 {
    @apply invisible
    text-[16px]
    h-[100px]
}

.compare__grid-item {
    @apply text-center
    border-r
    border-gray
}

.compare__atc {
    @apply py-lg
    w-fit
    mx-auto
}

.compare__grid-info-column p.s1 {
    @apply visible
    h-[80px]
}

.compare__item {
    @apply py-md
    border-b
    border-gray
    h-[80px]
}

.compare__item .p1 {
    @apply font-300
}

.compare__grid-item .compare__item .p1,
.compare__grid-additional-column .compare__item .p1 {
    @apply font-500
}

.compare__grid ul:nth-child(4) {
    @apply hidden
}

.compare__grid-item[data-index="1"] {
    @apply border-0
}

.compare__atc .btn {
    @apply px-xxs
}

.compare__grid .btn__arrow {
    @apply hidden
}

.compare-item-true:after {
    content: url('data:image/svg+xml; wtf8, <svg class="icon" viewBox="0 0 20 14" xmlns="http://www.w3.org/2000/svg"> <title>checkmarkLarge</title><path fill-rule="evenodd" d="M19.4309 2.00228L18.7925 2.60072L8.12585 12.6007L7.5274 13.1618L6.92895 12.6007L1.59562 7.60072L0.957275 7.00228L2.15417 5.72559L2.79252 6.32403L7.5274 10.763L17.5956 1.32403L18.234 0.725586L19.4309 2.00228Z"/></svg>');
    @apply 
    w-[20px]
    mx-auto
    block
}

.compare-item-false:after {
    content: url('data:image/svg+xml; wtf8, <svg class="icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>closeLarge</title><path d="M9.2979 7.94376L15.7902 14.4361L14.5528 15.6735L8.06046 9.1812L1.568 15.6737L0.330566 14.4362L6.82303 7.94376L0.330566 1.4513L1.568 0.213867L8.06046 6.70633L14.5528 0.213999L15.7902 1.45144L9.2979 7.94376Z"/></svg>');
    @apply 
    w-[20px]
    mx-auto
    block
}

@media screen(tabletp) {
    .compare__grid .btn__arrow {
        @apply inline-block
    }

    .compare__atc .btn {
        @apply pl-sm
    }
}

@media screen(tabletl) {
    .compare__title {
        @apply py-lg
        h-[100px]
    }
    .compare__title p.s1 {
        @apply text-[30px]
    }
    .compare__grid ul:nth-child(4) {
        @apply block
    }
    .compare__grid ul:nth-child(5) {
        @apply hidden
    }
    .compare__grid-item[data-index="1"] {
        @apply border-r
    }
    .compare__grid-item[data-index="2"] {
        @apply border-0
    }
}