@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
      font-family: 'Gilroy';
      src: url('Gilroy-Medium.woff2') format('woff2'),
          url('Gilroy-Medium.woff') format('woff'),
          url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Gilroy';
      src: url('Gilroy-Regular.woff2') format('woff2'),
          url('Gilroy-Regular.woff') format('woff'),
          url('Gilroy-Regular.svg#Gilroy-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Gilroy';
      src: url('Gilroy-Bold.woff2') format('woff2'),
          url('Gilroy-Bold.woff') format('woff'),
          url('Gilroy-Bold.svg#Gilroy-Bold') format('svg');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Gilroy';
      src: url('Gilroy-Light.woff2') format('woff2'),
          url('Gilroy-Light.woff') format('woff'),
          url('Gilroy-Light.svg#Gilroy-Light') format('svg');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  body,
  .text-body{
    @apply font-gilroy
    text-14
    text-blue;
  }

  h1,
  .h1{
    @apply font-roboto
    font-700
    text-50
    leading-[58px]
  }

  h2,
  .h2{
    @apply font-roboto
    font-700
    text-40
    leading-[46px]
  }

  h3,
  .h3{
    @apply font-roboto
    font-700
    text-30
    leading-[38px]
  }

  h4,
  .h4{
    @apply font-roboto
    font-700
    text-28
    leading-[40px]
  }

  h5,
  .h5{
    @apply font-gilroy
    font-400
    text-26
    leading-[32px]
  }

  h6,
  .h6{
    @apply font-gilroy
    font-400
    text-22
    leading-[28px]
  }

  .s1 {
    @apply font-roboto
    font-700
    text-20
    leading-[28px]
  }

  .s2 {
    @apply font-roboto
    font-700
    text-18
    leading-[28px]
  }

  .s3 {
    @apply font-gilroy
    font-400
    text-18
    leading-[28px]
  }

  .s4 {
    @apply font-gilroy
    font-300
    text-18
    leading-[28px]
  }

  .p1 {
    @apply font-gilroy
    font-700
    text-16
    leading-[22px]
  }

  .p2 {
    @apply font-gilroy
    font-400
    text-16
    leading-[26px]
  }

  .p3 {
    @apply font-gilroy
    font-700
    text-14
    leading-[22px]
  }

  .p4 {
    @apply font-gilroy
    font-400
    text-14
    leading-[22px]
  }

  .p5 {
    @apply font-gilroy
    font-300
    text-14
    leading-[22px]
  }

  .p6 {
    @apply font-gilroy
    font-400
    text-12
    leading-[22px]
  }

  .tag-small {
    @apply font-gilroy
    font-500
    leading-[12px]
    text-12
  }

  @media screen(tabletl) {
    h1,
    .h1{
      @apply text-72
      leading-[80px]
    }

    h2,
    .h2{
      @apply text-60
      leading-[68px]
    }

    h3,
    .h3{
      @apply text-40
      leading-[46px]
    }
  }
}