.rte ul li::before {
    content: '●';
    @apply pr-20;
}

.rte p {
    @apply my-24
}

.rte ol{
    list-style: none;
    counter-reset: list-counter; 
}


.rte ol li{
    @apply flex
}

.rte ol li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    @apply mr-12
    text-p6;
  }