.rte p {
    @apply mb-md
}

.rte a {
    @apply underline
}

.rte h3 {
  @apply mb-xxxs
}

.rte a:focus,
.rte .link:focus {
  @apply underline
  decoration-2;
}

.rte a:focus:not(:focus-visible),
.rte .link:focus:not(:focus-visible) {
  @apply no-underline
  decoration-1;
}

.rte a:focus-visible,
.rte .link:focus-visible {
  @apply underline;
}

.rte ol{
    list-style: none;
    counter-reset: list-counter; 
}


.rte ol li{
    @apply flex
}

.rte ol li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    @apply mr-xs
    p6;
}

.rte ul {
  @apply list-disc
  pl-lg;
}

.rte ul {
  list-style-position: outside;
}


@media screen(desktop) {
    .rte a:hover,
    .rte .link:hover {
      @apply underline
      decoration-2;
    }
}