/* faq topics */
.faq-topics__grid {
  grid-template-columns: repeat(var(--cols-mobile), minmax(0, 1fr));
}

.faq-topics__block:focus, 
.faq-topics__block:focus-visible {
  @apply bg-blue
  text-white;
}

.faq-topics__block:focus:not(:focus-visible) {
  @apply bg-blue-light
  text-blue;
}

.faq-topic__svg svg {
  @apply block
  h-[48px]
  w-auto;
}

@media screen(desktop) {
  .faq-topics__grid {
    grid-template-columns: repeat(var(--cols-desktop), minmax(0, 1fr));
  }

  .faq-topics__block:hover {
    @apply bg-blue
    text-white;
  }
}

/* faq posts */
.faq-post__title[aria-expanded="false"]:focus,
.faq-post__title[aria-expanded="false"]:focus-visible,
.faq-post__title[aria-expanded="true"] {
  @apply text-white
  bg-blue;
}

.faq-post__title[aria-expanded="false"]:focus:not(:focus-visible) {
  @apply text-blue
  bg-blue-light;
}

@media screen(desktop) {
  .faq-post__title[aria-expanded="false"]:hover {
    @apply text-white
    bg-blue;
  }
}

/* faq specs & instructions */
.faq-specs-instructions__grid {
  grid-template-columns: repeat(var(--cols-mobile), minmax(0, 1fr));
}

@media screen(desktop) {
  .faq-specs-instructions__grid {
    grid-template-columns: repeat(var(--cols-desktop), minmax(0, 1fr));
  }
}

/* faq cta */
.section__faq-cta.non-color-revert .btn.btn--transparent-rounded {
  @apply border-white
  text-white;
}

.section__faq-cta.non-color-revert .btn.btn--transparent-rounded .btn__arrow {
  @apply border-white
  bg-white;
}

.section__faq-cta.non-color-revert .btn.btn--transparent-rounded:focus .btn__arrow,
.section__faq-cta.non-color-revert .btn.btn--transparent-rounded:focus-visible .btn__arrow {
  @apply bg-blue
  text-white;
}

.section__faq-cta.non-color-revert .btn.btn--transparent-rounded:focus:not(:focus-visible) .btn__arrow {
  @apply border-white
  bg-white
  text-blue;
}

@media screen(desktop) {
  .section__faq-cta.non-color-revert .btn.btn--transparent-rounded:hover .btn__arrow {
    @apply bg-blue
    text-white;
  }
}

/* faq search results */
.faq-seearch-results__category::before {
  @apply hidden
  desktop:block
  absolute
  content-['']
  top-0
  left-0
  h-full
  w-[calc(100%+24px)]
  bg-blue-darkSky
  z-[-1];
}

.faq-seearch-results__category::after {
  @apply absolute
  content-['']
  block
  bottom-[-2px]
  left-0
  w-full
  h-[2px]
  bg-blue
  desktop:bottom-0
  desktop:w-[4px]
  desktop:h-full;
}