.template-index .main > .shopify-section:first-child .hero__content-wrapper {
  @apply pt-lg
  desktop:pt-xl
}

.hero__content-wrapper.no-image {
  height: var(--height-mobile, unset);
}

.hero__content {
  max-width: var(--max-w-mobile, unset);
}
.hero__image img {
  max-height: var(--max-h-mobile, unset);
}

@media screen(desktop) {
  .hero__content-wrapper.no-image {
    height: var(--height-desktop, unset);
  }

  .hero__content {
    max-width: var(--max-w-desktop, unset);
  }

  .hero__image img {
    max-height: var(--max-h-desktop, unset);
  }
  
}