.hotspot__trigger[data-active="true"] {
  @apply z-[1];
}

.hotspot-trigger__btn[data-active="false"] {
  @apply bg-blue
  text-white
  opacity-100
  duration-300;
  transition-behavior: allow-discrete;
}

.hotspot-trigger__btn[data-active="true"] {
  @apply bg-blue-sky
  text-blue
  opacity-100
  duration-300;
  transition-behavior: allow-discrete;
}

.hotspot-trigger__btn[data-active="false"] .minus {
  @apply hidden
  opacity-0
  duration-300;
}

.hotspot-trigger__btn[data-active="true"] .plus {
  @apply hidden
  opacity-0
  duration-300;
}

.hotspot-trigger__btn[data-active="true"] + .hotspot-trigger__content--desktop {
  @apply desktop:block;
}

.hotspot-trigger__content--mobile[data-active="true"] {
  @apply block
  desktop:hidden;
}