/* atc btns */
.btn.product__atc:disabled {
  @apply pr-sm
  py-xs
  !bg-gray
  !text-white
  !border-gray;
}

.btn.product__atc:disabled .btn__arrow {
  @apply hidden;
}

/* product carousel */
.product__thumb-carousel:has(.hide-thumb-carousel) {
  @apply hidden;
}

.product__thumb-carousel .swiper-slide-thumb.swiper-slide-thumb-active {
  @apply border-blue;
}

.product__main-carousel .swiper-nav-btn {
  @apply hidden;
}

.product__main-carousel .swiper-nav-btn.swiper-button-disabled {
  @apply bg-transparent;
}

@media screen(desktop){
  .product__main-carousel .swiper-initialized .swiper-nav-btn {
    @apply flex;
  }

  .product__main-carousel .swiper-nav-btn:hover {
    @apply bg-blue
    text-white;
  }
}

/* product option selector */
.product-swatch__label--color {
  @apply block
  w-[50px]
  min-w-[50px]
  h-[50px]
  p-xxxs
  border
  border-transparent
  rounded-full;
}

.product-swatch__label--non-color {
  @apply w-full
  h-full
  py-xxs
  px-sm
  text-center
  flex
  justify-between
  items-center
  desktop:flex-col
  desktop:justify-center
  border
  border-gray
  rounded-[2px]
}

.product-swatch__input:checked + .product-swatch__label {
  @apply border-blue;
}

/* product experience */
.product-experience__description.rte p {
  @apply my-xxs;
}

/* product additional features */
.product-additional-features__list-item:not(:first-child) {
  @apply border-t
  border-blue-light;
}

/* product upsell */
.product-upsell__variant--color[data-selected="true"],
.product-upsell__variant--color[data-selected="false"]:focus,
.product-upsell__variant--color[data-selected="false"]:focus-visible {
  @apply border
  border-blue
  p-xxxs;
}

.product-upsell__variant--color[data-selected="false"]:focus:not(:focus-visible) {
  @apply border-0
  p-0;
}

.product-upsell__variant--filter-type[data-selected="true"],
.product-upsell__variant--filter-type[data-selected="false"]:focus,
.product-upsell__variant--filter-type[data-selected="false"]:focus-visible {
  @apply border-blue;
}

.product-upsell__variant--filter-type[data-selected="false"]:focus:not(:focus-visible) {
  @apply border-gray
}

@media screen(desktop) {
  .product-upsell__variant--color[data-selected="false"]:hover {
    @apply border
    border-blue
    p-xxxs;
  }

  .product-upsell__variant--filter-type[data-selected="false"]:hover {
    @apply border-blue
  }
}

.btn.product-upsell__atc:disabled {
  @apply pr-sm
  py-xs
  !bg-gray
  !text-white
  !border-gray;
}

.btn.product-upsell__atc:disabled .btn__arrow {
  @apply hidden;
}

/* subscription */
.product__subscription[data-selected="true"],
.product__non-subscription[data-selected="true"] {
  @apply bg-gray-athans;
}

.product__subscription[data-selected="true"] .checkbox,
.product__non-subscription[data-selected="true"] .checkbox {
  @apply border-blue;
}

.product__subscription[data-selected="false"] .checkbox .icon,
.product__non-subscription[data-selected="false"] .checkbox .icon {
  @apply hidden;
}


.product__subscription[data-selected="false"] .product-subscription__content {
  @apply max-h-0
  overflow-hidden;
}

.product__subscription[data-selected="true"] .product-subscription__content {
  @apply max-h-[999px];
}

.product-subscription-description__bullet::before {
  content: '●';
  @apply text-[8px]
  px-xs
  leading-[21px];
}

.filter-subscription__variant[data-selected="true"] {
  @apply border-blue
  bg-white;
}

.filter-subscription__selling-plan:disabled {
  @apply cursor-not-allowed
  text-gray;
}

.filter-subscription__selling-plan[data-selected="true"] {
  @apply border-blue
  bg-white;
}

.product__filter-link:focus {
  @apply border-black
}
.product__filter-link:focus:not(:focus-visible) {
  @apply border-gray
}
.product__filter-link:focus-visible {
  @apply border-black
}

@media screen(desktop) {
  .product__filter-link:hover {
    @apply border-black
  }
}


/* ordergroove
.product-subscription__offer .og-optout-buttons{
  @apply !hidden;
}

.product-subscription__offer .og-text,
.product-subscription__offer .og-optin-buttons {
  @apply !m-0;
}

.product-subscription__offer .og-text {
  @apply !p6
  !font-700
  !text-blue
  !mb-xxxs;
}

.product-subscription__offer .og-optin-buttons {
  @apply gap-xxs;
}

.product-subscription__offer .og-optin-buttons .og-optin-button-item {
  @apply flex-1;
}

.product-subscription__offer .og-optin-buttons og-optin-button {
  @apply !m-0
  !rounded-[2px]
  !border
  !border-gray
  !p-xxs
  !p3
  !font-500
  !text-blue
  !block;
}

.product-subscription__offer og-optin-button[subscribed][frequency-match] {
  @apply !border-blue
  !bg-white;
}
*/

.product__sticky-bar {
  -moz-box-shadow: 0 .5px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 .5px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 .5px 4px rgba(0, 0, 0, 0.4);
}

@media screen(desktop) {
  .product__sticky-bar .btn--blue-rounded:hover {
    @apply border-blue
  }
}



/* product quantity opption */
.product-quantity-variant__checkbox::after {
  @apply block
  content-['']
  absolute
  top-1/2
  left-1/2
  -translate-x-1/2
  -translate-y-1/2
  w-[13px]
  h-[13px]
  rounded-full
  bg-transparent;
}

.product-quantity-variant__input:checked + .product-quantity-variant__label .product-quantity-variant__checkbox::after {
  @apply bg-blue;
}

.product-quantity-variant__input:disabled + .product-quantity-variant__label {
  @apply cursor-not-allowed
  opacity-30;
}
.product-viewer--js-press-active {
  @apply cursor-grabbing
}

@media screen(desktop) {
  .product .btn--blue-rounded:hover {
    @apply border-blue
  }
}

/* Bazaarvoice Styling */
.product__star-rating [data-bv-show="rating_summary"] .bv_main_container_row_flex {
  @apply !hidden
}
/* END Bazaarvoice Styling */